<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galeria Karolina Dyrda</title>
</head>

<body>
  <figure class="photo"> <img src="jezioro paprocany.jpg" alt=" widok jeziora paprocany rano">
    <figcaption>widok jeziora paprocany rano</figcaption>
  </figure>
  <figure class="photo"> <img src="pola i lasy.jpg" alt=" widok z autobusu na pola">
    <figcaption>widok z autobusu na pola</figcaption>
  </figure>
  <figure class="photo"> <img src="wieczory księzyc dom.jpg" alt="widok na wieczorny księżyc w Lędzinach">
    <figcaption>widok na wieczorny księżyc w Lędzinach</figcaption>
  </figure>
  <figure class="photo"><img src="zamoście.jpg" alt="widok z okna autobusu na zamoście">
    <figcaption>widok z okna autobusu na zamoście</figcaption>
  </figure>
</body>

</html>